@font-face{
	font-family: headerFont;
	src: url();

}

body {

	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

h1.header {
	
	font-family: headerFont;
	padding: 20px;
	text-align: center;
	font-size: 70vw;
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;

}

div {
	
	margin: auto;
	width: 470px;
	padding: 50px;
	border: 10px;
}

.button {

	font-size: 12px;


}
